Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
config/
configure
depcomp
eatmydata
eatmydata.sh
install-sh
libeatmydata-*.tar.gz
libeatmydata.la
libeatmydata.spec
.deps/
.dirstamp
.libs/
*.o
*.lo
libeatmydata/test/eatmydatatest
libeatmydata/test/eatmydatatest.log
libeatmydata/test/eatmydatatest.o
libeatmydata/test/eatmydatatest.trs
libeatmydata/test/eatmydatatest_largefile
libeatmydata/test/eatmydatatest_largefile.log
libeatmydata/test/eatmydatatest_largefile.trs
libeatmydata/test/fcntltest
libeatmydata/test/fcntltest.log
libeatmydata/test/fcntltest.trs
libeatmydata/test/fsynctest
libeatmydata/test/fsynctest.log
libeatmydata/test/fsynctest.trs
libeatmydata/test/tst-cancel4
libeatmydata/test/tst-cancel4.log
libeatmydata/test/tst-cancel4.trs
libeatmydata/test/tst-invalidfd
libeatmydata/test/tst-invalidfd.log
libeatmydata/test/tst-invalidfd.trs
libeatmydata/test/tst-key4
libeatmydata/test/tst-key4.log
libeatmydata/test/tst-key4.trs
libtool
m4/
missing
stamp-h1
test-driver
test-suite.log
